<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">

    <title>MAMEDB</title>
</head>

<body>
    <h1>
        <%= title %>
    </h1>

    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js'></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <style>
        input.hidden {
            position: absolute;
            left: -9999px;
        }

        #profile-image1 {
            cursor: pointer;

            width: 100px;
            height: 100px;
            border: 2px solid #03b1ce;
        }

        .tital {
            font-size: 16px;
            font-weight: 500;
        }

        .bot-border {
            border-bottom: 1px #f8f8f8 solid;
            margin: 5px 0 5px 0
        }
    </style>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>
                            <%=data.description%>
                        </h4>
                    </div>
                    <div class="panel-body">
                        <div class="box box-info">
                            <div class="box-body">
                                <div class="col-sm-6">
                                    <div align="center"> <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                                            id="profile-image1" class="img-circle img-responsive">
                                        <input id="profile-image-upload" class="hidden" type="file">
                                        <div style="color:#999;">click here to change profile image</div>
                                        <!--Upload Image Js And Css-->
                                    </div>
                                    <br>
                                </div>
                                <div class="col-sm-6">
                                    <h4 style="color:#00b1b1;"><%=data.title%></h4>
                                    </span>
                                    <span><p><%=data.manufacturer%></p></span>
                                    <span><p><%=data.year%></p></span>
                                    <span><p><%=data.category%></p></span>
                                    <% if (data.driver) { %>
                                    <span><p><%=data.driver.status%></p></span>
                                    <span><p><%=data.driver.emulation%></p></span>
                                    <span><p><%=data.driver.cocktail%></p></span>
                                    <span><p><%=data.driver.savestate%></p></span>
                                    <% } %>
                                    
                                </div>
                                <div class="clearfix"></div>
                                <hr style="margin:5px 0 5px 0;">

                                <div class="col-sm-5 col-xs-6 tital ">romset:</div>
                                <div class="col-sm-7 col-xs-6 "><%=data.name%></div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>

                                <div class="col-sm-5 col-xs-6 tital ">veradded:</div>
                                <div class="col-sm-7 col-xs-6 "><%=data.veradded%></div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>
                                
                                <div class="col-sm-5 col-xs-6 tital ">sourcefile:</div>
                                <div class="col-sm-7"><%=data.sourcefile%></div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>

                                <div class="col-sm-5 col-xs-6 tital ">BIOS?:</div>
                                <div class="col-sm-7"><%=data.isbios%></div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>

                                <div class="col-sm-5 col-xs-6 tital ">Device?:</div>
                                <div class="col-sm-7"><%=data.isdevice%></div>

                                <div class="clearfix"></div>
                                <div class="bot-border"></div>

                                <div class="col-sm-5 col-xs-6 tital ">runnable:</div>
                                <div class="col-sm-7"><%=data.runnable%></div>

                                <div class="clearfix"></div>
                                <div class="bot-border"></div>

                                <% if (data.cloneof) { %>
                                <div class="col-sm-5 col-xs-6 tital ">cloneof:</div>
                                <div class="col-sm-7"><%=data.cloneof%></div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>
                                <% } %>

                                <% if (data.romof) { %>
                                <div class="col-sm-5 col-xs-6 tital ">romof:</div>
                                <div class="col-sm-7"><%=data.romof%></div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>
                                <% } %>
                                
                                <% if (data.sampleof) { %>
                                <div class="col-sm-5 col-xs-6 tital ">sampleof:</div>
                                <div class="col-sm-7"><%=data.sampleof%></div>
                                <% } %>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="container">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
    
                        <% if (data.rom.length > 0) { %>
                            <li class="active">
                                <a href="#roms" role="tab" data-toggle="tab">
                                    <icon class="fa fa-home"></icon> Roms
                                </a>
                            </li>
                        <%}%>

                        <% if (data.dipswitch.length > 0) { %>
                            <li><a href="#dipswitches" role="tab" data-toggle="tab">
                                <i class="fa fa-user"></i> Dipswitches
                                </a>
                            </li>
                        <%}%>

                        <% if (data.biosset.length > 0) { %>
                            <li>
                                <a href="#biosset" role="tab" data-toggle="tab">
                                    <i class="fa fa-envelope"></i> Bios Set
                                </a>
                            </li>
                        <%}%>

                        <% if (data.disk.length > 0) { %>
                            <li>
                                <a href="#disks" role="tab" data-toggle="tab">
                                    <i class="fa fa-cog"></i> Disks
                                </a>
                            </li>
                        <%}%>

                        <% if (data.deviceref.length > 0) { %>
                            <li>
                                <a href="#deviceref" role="tab" data-toggle="tab">
                                    <i class="fa fa-cog"></i> Device Ref
                                </a>
                            </li>
                        <%}%>

                        <% if (data.sample.length > 0) { %>
                            <li>
                                <a href="#sample" role="tab" data-toggle="tab">
                                    <i class="fa fa-cog"></i> Samples
                                </a>
                            </li>
                        <%}%>
                        
                        <% if (data.chip.length > 0) { %>
                            <li>
                                <a href="#chip" role="tab" data-toggle="tab">
                                    <i class="fa fa-cog"></i> Chips
                                </a>
                            </li>
                        <%}%>

                        <% if (data.display.length > 0) { %>
                            <li>
                                <a href="#display" role="tab" data-toggle="tab">
                                    <i class="fa fa-cog"></i> Displays
                                </a>
                            </li>
                        <%}%>

                        <% if (data.sound.length > 0) { %>
                            <li>
                                <a href="#sound" role="tab" data-toggle="tab">
                                    <i class="fa fa-cog"></i> Sound
                                </a>
                            </li>
                        <%}%>

                        <% if (data.input.length > 0) { %>
                            <li>
                                <a href="#input" role="tab" data-toggle="tab">
                                    <i class="fa fa-cog"></i> Input
                                </a>
                            </li>
                        <%}%>

                        <% if (data.configuration.length > 0) { %>
                            <li>
                                <a href="#configuration" role="tab" data-toggle="tab">
                                    <i class="fa fa-cog"></i> Configuration
                                </a>
                            </li>
                        <%}%>

                        <% if (data.port.length > 0) { %>
                            <li>
                                <a href="#port" role="tab" data-toggle="tab">
                                    <i class="fa fa-cog"></i> Port
                                </a>
                            </li>
                        <%}%>

                        <% if (data.adjuster.length > 0) { %>
                            <li>
                                <a href="#adjuster" role="tab" data-toggle="tab">
                                    <i class="fa fa-cog"></i> Adjuster
                                </a>
                            </li>
                        <%}%>

                        <% if (data.feature.length > 0) { %>
                            <li>
                                <a href="#feature" role="tab" data-toggle="tab">
                                    <i class="fa fa-cog"></i> Feature
                                </a>
                            </li>
                        <%}%>

                        <% if (data.device.length > 0) { %>
                            <li>
                                <a href="#device" role="tab" data-toggle="tab">
                                    <i class="fa fa-cog"></i> Device
                                </a>
                            </li>
                        <%}%>

                        <% if (data.slot.length > 0) { %>
                            <li>
                                <a href="#slot" role="tab" data-toggle="tab">
                                    <i class="fa fa-cog"></i> Slot
                                </a>
                            </li>
                        <%}%>

                        <% if (data.softwarelist.length > 0) { %>
                            <li>
                                <a href="#softwarelist" role="tab" data-toggle="tab">
                                    <i class="fa fa-cog"></i> Software List
                                </a>
                            </li>
                        <%}%>

                        <% if (data.ramoption.length > 0) { %>
                            <li>
                                <a href="#ramoption" role="tab" data-toggle="tab">
                                    <i class="fa fa-cog"></i> RAM Option
                                </a>
                            </li>
                        <%}%>
                        
                    </ul>
                    
                    <!-- Tab panes -->
                    <div class="tab-content">

                        <% if (data.rom.length > 0) { %>
                            <div class="tab-pane fade active in" id="roms">
                                <div class="row" id="roms">
                                    <div class="col-md-12 ">
                                        <% include details/rom.ejs %>  
                                    </div>
                                </div>  
                            </div>
                        <%}%>
                            
                        <% if (data.dipswitch.length > 0) { %>
                            <div class="tab-pane fade" id="dipswitches">
                                <div class="row">
                                    <div class="col-md-12 ">
                                        <% include details/dipswitch.ejs %>  
                                    </div>
                                </div>  
                            </div>
                        <%}%>

                        <% if (data.biosset.length > 0) { %>
                            <div class="tab-pane fade" id="biosset">
                                <div class="row">
                                    <div class="col-md-12 ">
                                        <% include details/biosset.ejs %>  
                                    </div>
                                </div>  
                            </div>
                        <%}%>
    
                        <% if (data.disk.length > 0) { %>
                            <div class="tab-pane fade" id="disks">
                                <div class="row">
                                    <div class="col-md-12 ">
                                        <% include details/disk.ejs %>  
                                    </div>
                                </div>  
                            </div>
                        <%}%>

                        <% if (data.deviceref.length > 0) { %>
                            <div class="tab-pane fade" id="deviceref">
                                <div class="row">
                                    <div class="col-md-12 ">
                                        <% include details/deviceref.ejs %>  
                                    </div>
                                </div>  
                            </div>
                        <%}%>
                        
                        <% if (data.sample.length > 0) { %>
                            <div class="tab-pane fade" id="sample">
                                <div class="row">
                                    <div class="col-md-12 ">
                                        <% include details/sample.ejs %>  
                                    </div>
                                </div>  
                            </div>
                        <%}%>
                        
                        <% if (data.chip.length > 0) { %>
                            <div class="tab-pane fade" id="chip">
                                <div class="row">
                                    <div class="col-md-12 ">
                                        <% include details/chip.ejs %>  
                                    </div>
                                </div>  
                            </div>
                        <%}%>
                        
                        <% if (data.display.length > 0) { %>
                            <div class="tab-pane fade" id="display">
                                <div class="row">
                                    <div class="col-md-12 ">
                                        <% include details/display.ejs %>  
                                    </div>
                                </div>  
                            </div>
                        <%}%>
                        
                        <% if (data.sound.length > 0) { %>
                            <div class="tab-pane fade" id="sound">
                                <div class="row">
                                    <div class="col-md-12 ">
                                        <% include details/sound.ejs %>  
                                    </div>
                                </div>  
                            </div>
                        <%}%>
                        
                        <% if (data.input.length > 0) { %>
                            <div class="tab-pane fade" id="input">
                                <div class="row">
                                    <div class="col-md-12 ">
                                        <% include details/input.ejs %>  
                                    </div>
                                </div>  
                            </div>
                        <%}%>
                        
                        <% if (data.configuration.length > 0) { %>
                            <div class="tab-pane fade" id="configuration">
                                <div class="row">
                                    <div class="col-md-12 ">
                                        <% include details/configuration.ejs %>  
                                    </div>
                                </div>  
                            </div>
                        <%}%>
                        
                        <% if (data.port.length > 0) { %>
                            <div class="tab-pane fade" id="port">
                                <div class="row">
                                    <div class="col-md-12 ">
                                        <% include details/port.ejs %>  
                                    </div>
                                </div>  
                            </div>
                        <%}%>
                        
                        <% if (data.adjuster.length > 0) { %>
                            <div class="tab-pane fade" id="adjuster">
                                <div class="row">
                                    <div class="col-md-12 ">
                                        <% include details/adjuster.ejs %>  
                                    </div>
                                </div>  
                            </div>
                        <%}%>
                        
                        <% if (data.feature.length > 0) { %>
                            <div class="tab-pane fade" id="feature">
                                <div class="row">
                                    <div class="col-md-12 ">
                                        <% include details/feature.ejs %>  
                                    </div>
                                </div>  
                            </div>
                        <%}%>
                        
                        <% if (data.device.length > 0) { %>
                            <div class="tab-pane fade" id="device">
                                <div class="row">
                                    <div class="col-md-12 ">
                                        <% include details/device.ejs %>  
                                    </div>
                                </div>  
                            </div>
                        <%}%>
                        
                        <% if (data.slot.length > 0) { %>
                            <div class="tab-pane fade" id="slot">
                                <div class="row">
                                    <div class="col-md-12 ">
                                        <% include details/slot.ejs %>  
                                    </div>
                                </div>  
                            </div>
                        <%}%>
                        
                        <% if (data.softwarelist.length > 0) { %>
                            <div class="tab-pane fade" id="softwarelist">
                                <div class="row">
                                    <div class="col-md-12 ">
                                        <% include details/softwarelist.ejs %>  
                                    </div>
                                </div>  
                            </div>
                        <%}%>
                        
                        <% if (data.ramoption.length > 0) { %>
                            <div class="tab-pane fade" id="ramoption">
                                <div class="row">
                                    <div class="col-md-12 ">
                                        <% include details/ramoption.ejs %>  
                                    </div>
                                </div>  
                            </div>
                        <%}%>
                    


                    </div>
                </div>
            </div>
            <script>
                $(function () {
                    $('#profile-image1').on('click', function () {
                        $('#profile-image-upload').click();
                    });
                });
            </script>
        </div>

        <% if (data.info) { %>        
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Info</h4>
                    </div>
                    <div class="panel-body">
                        <div class="box box-info">
                            <div class="box-body">
                                <%-data.info%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%}%>

        <% if (data.history) { %>        
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>History</h4>
                    </div>
                    <div class="panel-body">
                        <div class="box box-info">
                            <div class="box-body">
                                <%-data.history%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%}%>
            
 



            
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
</body>

</html>