<table class="table table-striped table-hover">
    <caption>List of configuration</caption>
    <thead class="thead-light">
    <tr>
        <th>name</th>
        <th>tag</th>
        <th>mask</th>
        <th>location</th>
        <th>setting</th>
    </tr>
    </thead>
    <% data.machine.configuration.forEach(function(configuration) {%>
        <tr>
            <td>
                <%=configuration.name%>
            </td>
            <td>
                <%=configuration.tag%>
            </td>
            <td>
                <%=configuration.mask%>
            </td>
            <td>
                <% configuration.conflocation.forEach(function(conflocation){ %>
                    <%=conflocation.name%>
                        <%=conflocation.number%>
                            <%=conflocation.inverted%>
                                <%}); %>
            </td>
            <td>
                <% configuration.confsetting.forEach(function(confsetting){ %>
                    <%=confsetting.name%>
                        <%=confsetting.value%>
                            <%=confsetting._default%>
                                <%}); %>
            </td>

        </tr>
        <%}); %>
</table>
