<table class="table table-striped table-hover">
    <caption>List of device</caption>
    <thead class="thead-light">
    <tr>
        <th>type</th>
        <th>tag</th>
        <th>fixed_image</th>
        <th>mandatory</th>
        <th>interface</th>
        <th>instance</th>
        <th>extension</th>
    </tr>
    </thead>
    <% data.machine.device.forEach(function(device) {%>
        <tr>
            <td>
                <%=device.type%>
            </td>
            <td>
                <%=device.tag%>
            </td>
            <td>
                <%=device.fixed_image%>
            </td>
            <td>
                <%=device.mandatory%>
            </td>
            <td>
                <%=device.interface%>
            </td>
            <td>
                <% device.instance.forEach(function(instance){ %>
                    <%=instance.name%>
                        <%=instance.briefname%>
                            <%}); %>
            </td>
            <td>
                <% device.extension.forEach(function(extension){ %>
                    <%=extension.name%>
                        <%}); %>
            </td>
        </tr>
        <%}); %>
</table>
