<table class="table table-striped table-hover">
    <caption>List of disks</caption>
    <thead class="thead-light">
    <tr>
        <th>Name</th>
        <th>SHA1</th>
        <th>Merge</th>
        <th>region</th>
        <th>index</th>
        <th>writable</th>
        <th>status</th>
        <th>optional</th>
    </tr>
    </thead>
    <% data.machine.disk.forEach(function(disk) {%>
        <tr>
            <td>
                <%=disk.name%>
            </td>
            <td>
                <%=disk.sha1%>
            </td>
            <td>
                <%=disk.merge%>
            </td>
            <td>
                <%=disk.region%>
            </td>
            <td>
                <%=disk.index%>
            </td>
            <td>
                <%=disk.writable%>
            </td>
            <td>
                <%=disk.status%>
            </td>
            <td>
                <%=disk.optional%>
            </td>
        </tr>
        <%});%>
</table>
