<table class="table table-striped table-hover">
    <caption>List of displays</caption>
    <thead class="thead-light">
    <tr>
        <th>tag</th>
        <th>type</th>
        <th>rotate</th>
        <th>flipx</th>
        <th>width</th>
        <th>height</th>
        <th>refresh</th>
        <th>pixclock</th>
        <th>htotal</th>
        <th>hbend</th>
        <th>hbstart</th>
        <th>vbend</th>
        <th>vtotal</th>
        <th>vbend</th>
        <th>vbstart</th>
    </tr>
    <% data.machine.display.forEach(function(display) {%>
        <tr>
            <td>
                <%=display.tag%>
            </td>
            <td>
                <%=display.type%>
            </td>
            <td>
                <%=display.rotate%>
            </td>
            <td>
                <%=display.flipx%>
            </td>
            <td>
                <%=display.width%>
            </td>
            <td>
                <%=display.height%>
            </td>
            <td>
                <%=display.refresh%>
            </td>
            <td>
                <%=display.pixclock%>
            </td>
            <td>
                <%=display.htotal%>
            </td>
            <td>
                <%=display.hbend%>
            </td>
            <td>
                <%=display.hbstart%>
            </td>
            <td>
                <%=display.vtotal%>
            </td>
            <td>
                <%=display.vbend%>
            </td>
            <td>
                <%=display.vbstart%>
            </td>
        </tr>
        <%});%>
</table>
