<div class="table-responsive">
<table class="table table-striped table-hover">
    <caption>List of roms</caption>
    <thead class="thead-light">
        <tr>
            <th>name</th>
            <th>bios</th>
            <th>size</th>
            <th>crc</th>
            <th>sha1</th>
            <th>merge</th>
            <th>region</th>
            <th>offset</th>
            <th>status</th>
            <th>optional</th>
        </tr>
    </thead>

    <% data.machine.rom.forEach(function(rom) { %>
        <tr>
            <td>
                <%= rom.name %>
            </td>
            <td>
                <%= rom.bios %>
            </td>
            <td>
                <%= rom.size %>
            </td>
            <td>
                <%= rom.crc %>
            </td>
            <td>
                <%= rom.sha1 %>
            </td>
            <td>
                <%= rom.merge %>
            </td>
            <td>
                <%= rom.region %>
            </td>
            <td>
                <%= rom.offset %>
            </td>
            <td>
                <%= rom.status %>
            </td>
            <td>
                <%= rom.optional %>
            </td>
        </tr>
        <% }); %>
</table>
</div>