<table class="table table-striped table-hover">
    <caption>List of sound channels</caption>
    <thead class="thead-light">
    <tr>
        <th>Channels</th>
        <th>Conditiion</th>
    </tr>
    </thead>
    <% data.machine.sound.forEach(function(sound) {%>
        <tr>
            <td>
                <%=sound.channels%>
            </td>
            <td>
                <% sound.condition.forEach(function(condition){ %>
                    <%=condition.tag%> <%=condition.mask%> <%=condition.relation%> <%=condition.value%> 
                <%}); %>
            </td>
        </tr>
    <%}); %>
</table>
