<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>GLOG - <%=name%></title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="/plugins/datatables/dataTables.bootstrap.css">

  <!-- Theme style -->
  <link rel="stylesheet" href="/dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="/dist/css/skins/_all-skins.min.css">
  <!-- iCheck -->
  <link rel="stylesheet" href="/plugins/iCheck/flat/blue.css">
  <!-- Date Picker -->
  <link rel="stylesheet" href="/plugins/datepicker/datepicker3.css">
  <!-- Daterange picker -->
  <link rel="stylesheet" href="/plugins/daterangepicker/daterangepicker.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <style>
    th {
    	background-color: lightblue;
	    color: black;
    }
    .shadow {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    th input {
        width: 90%;
    }
    fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.0em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

    legend.scheduler-border {
        font-size: 1.0em !important;
        font-weight: bold !important;
        text-align: left !important;
        width:auto;
        padding:0 5px;
        border-bottom:none;
    }
  </style>
</head>

<body class="hold-transition skin-blue sidebar-mini fixed">
  <div class="wrapper">

    <header class="main-header">
      <!-- Logo -->
      <a href="/index2.html" class="logo">
        <span class="logo-lg">
          <b><%=name%></span>
      </a>
      <!-- Header Navbar: style can be found in header.less -->
      <nav class="navbar navbar-static-top">
      </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
          <div class="xpull-left ximage">
            <img src="/dist/img/<%=name%>.png" width="214">
          </div>
        </div>
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
          <li>
            <a href="/#">
              <i class="fa fa-book"></i>
              <span>GLOGBox</span>
            </a>
          </li>
          <li>
            <a href="/#">
              <i class="fa fa-book"></i>
              <span>History</span>
            </a>
          </li>
          <li>
            <a href="/#">
              <i class="fa fa-book"></i>
              <span>Specs</span>
            </a>
          </li>
          <li>
            <a href="/#">
              <i class="fa fa-book"></i>
              <span>Games</span>
            </a>
          </li>
          <li>
            <a href="/#">
              <i class="fa fa-book"></i>
              <span>Media</span>
            </a>
          </li>

          <li class="treeview">
            <a href="/#">
              <i class="fa fa-files-o"></i>
              <span>Frontends</span>
              <span class="pull-right-container">
                <span class="label label-primary pull-right">3</span>
              </span>
            </a>
            <ul class="treeview-menu">
              <li>
                <a href="#" id="attract">
                  <i class="fa fa-circle-o"></i> Attract Mode</a>
              </li>
              <li>
                <a href="#" id="emulationstation">
                  <i class="fa fa-circle-o"></i> Emulation Station</a>
              </li>
              <li>
                <a href="#" id="hyperspin">
                  <i class="fa fa-circle-o"></i> Hyperspin</a>
              </li>
            </ul>
          </li>
        </ul>
      </section>
      <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper hide" id="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header hide">
      </section>

      <!-- Main content -->
      <section class="content" id="content">
        
        <!-- Main row -->
        <div class="row">
            <div class="col-md-12">
              <div class="box box-primary shadow">
                <div class="box-header with-border">
                    Send system to Retropie
                </div>
                <div class="box-body">
                  <form id="form" onsubmit="return false">
                  <div class="row">
                      <div class="col-md-3">
                          <div class="form-group">
                              <label>Host</label>
                              <input type="text" name="host" id="host" class="form-control" placeholder="retropie" value="retropie">
                          </div>
                      </div>
                      <div class="col-md-3">
                          <div class="form-group">
                              <label>Port</label>
                              <input type="text" name="port" id="port" class="form-control" placeholder="22" value="22">
                          </div>
                      </div>
                      <div class="col-md-3">
                          <div class="form-group">
                              <label>Username</label>
                              <input type="text" name="username" id="username" class="form-control" placeholder="pi" value="pi">
                          </div>
                      </div>
                      <div class="col-md-3">
                          <div class="form-group">
                              <label>Password</label>
                              <input type="text" name="password" id="password" class="form-control" placeholder="raspberry" value="raspberry">
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                          <fieldset class="scheduler-border">
                              <legend class="scheduler-border">Options</legend>
                                  <div class="form-group">
                                    <div class="checkbox">
                                      <label>
                                        <input type="checkbox" id="favorites" name="favorites">
                                        Favorites Only
                                      </label>
                                    </div>
                                  </div>
                            </fieldset>

                      </div>
                    </div>
                  </form>
                </div>
                <div class="box-footer">
                    <button id="send" type="button" class="btn btn-primary">Send</button>
                </div>
              </div>
            </div>
        </div>
  

        <div class="row">
          <div class="col-md-12">
            <div class="box box-primary shadow">
              <div class="box-header with-border">
                  Game listing for <span id="frontend"></span>
              </div>
              <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <div id="systemsDiv"></div>
                    </div>
                </div>
                <div id="info">Instruction about the filters: For "Available", "Favorite" and "Medias" columns use T (true) or F (false) for filtering.</div>
              </div>
              <div class="box-footer">
                <div id="totals"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.row (main row) -->

        <div class="row">
          <div class="col-md-12">
            <div id="gamesPerSystem"></div>
          </div>
        </div>

      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
      <div class="pull-right hidden-xs">
        <b>Version</b> 2.3.7
      </div>
      <strong>Copyright &copy; 2014-2016
        <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights reserved.
    </footer>


    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
  </div>
  <!-- ./wrapper -->

  <!-- jQuery 2.2.3 -->
  <script src="/plugins/jQuery/jquery-2.2.3.min.js"></script>
  <!-- jQuery UI 1.11.4 -->
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
  <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
  <script>
    $.widget.bridge('uibutton', $.ui.button);
  </script>
  <!-- Bootstrap 3.3.6 -->
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script src="/plugins/datatables/jquery.dataTables.min.js"></script>
  <script src="/plugins/datatables/dataTables.bootstrap.min.js"></script>
  
  <!-- Slimscroll -->
  <script src="/plugins/slimScroll/jquery.slimscroll.min.js"></script>
  <!-- AdminLTE App -->
  <script src="/dist/js/app.min.js"></script>

  <script>
function renderGamesPerSystem(emulators, data) {
  var emuArr = Array.from(emulators).sort();
			var gamesPerSystem = document.getElementById("gamesPerSystem");
			gamesPerSystem.innerHTML = "";
			var cols = 0;
			for (let emulator of emuArr) {
				console.log(emulator);
				if(cols % 3 == 0) {
				var emulatorGameListDiv = document.createElement('div');
				emulatorGameListDiv.className = "row";
				}
				cols++;
				var columnDiv = document.createElement('div');
				columnDiv.className = "col-md-4";
				var boxPrimary = document.createElement('div');
				boxPrimary.className = "box box-primary shadow";
				var boxHeader = document.createElement('div');
				boxHeader.className = "box-header with-border";
				var oImg = document.createElement("img");
				oImg.setAttribute('src', '/images/logos/' + emulator + '.png');
				oImg.setAttribute("alt", emulator);
				boxHeader.appendChild(oImg);
				var oImg = document.createElement("img");
				oImg.setAttribute('src', '/images/systems/' + emulator + '.png');
				oImg.setAttribute("alt", emulator);
				oImg.setAttribute("align", "right");
				boxHeader.appendChild(oImg);

				var boxBody = document.createElement('div');
				boxBody.className = "box-body";
				var boxGames = document.createElement('div');
				boxGames.id = "games-" + emulator;
				boxBody.appendChild(boxGames);
				boxPrimary.appendChild(boxHeader);
				boxPrimary.appendChild(boxBody);
				columnDiv.appendChild(boxPrimary);
				emulatorGameListDiv.appendChild(columnDiv);
				gamesPerSystem.appendChild(emulatorGameListDiv);
				
				
				var tableEmulator = document.createElement('TABLE');
				tableEmulator.id = 'table-' + emulator; 
				tableEmulator.border = '1';
				tableEmulator.className = 'table table-bordered table-striped';

				var header = tableEmulator.createTHead();
				var row = header.insertRow(0);
				row.insertCell(0).outerHTML = "<th>Name</th>";
				row.insertCell(1).outerHTML = "<th>Available</th>";

				var tableBody = document.createElement('TBODY');
				tableBody.id = 'table-body-' + emulator;
				tableEmulator.appendChild(tableBody);

				boxGames.appendChild(tableEmulator);

        $.each(data, function(index, element) {
          if(element.emulator == emulator) {
						var tr = document.createElement('TR');
						document.getElementById('table-body-' + element.emulator).appendChild(tr);
						
						// Column name
						var td = document.createElement('TD');
						td.appendChild(document.createTextNode(element.name));
						tr.appendChild(td);
						
						// Column available.
						var td = document.createElement('TD');
						td.setAttribute("align", "center");
            var oImg = document.createElement("img");
            oImg.setAttribute('src', '/dist/img/' + element.available + '.png');
						td.appendChild(oImg);
						tr.appendChild(td);
						
					}

        });
        }

}

  $('#attract').on('click', function() {
    $.ajax({
      url : "/system/<%=name%>/attract",
      success : function(data) {
        var counters = [];
        var countersFav = [];

        $("#content-wrapper").removeClass("hide");
        $("#frontend").text('Attract Mode');
  
        var systemsDiv = document.getElementById("systemsDiv");
        systemsDiv.innerHTML = "";
        var table = document.createElement('TABLE');
        table.id = 'tableSystems';
        table.border = '1';
        table.className = 'table table-bordered table-striped';

        var header = table.createTHead();
        var row = header.insertRow(0);
        row.insertCell(0).outerHTML = "<th>Name</th>";
        row.insertCell(1).outerHTML = "<th>Emulator</th>";
        row.insertCell(2).outerHTML = "<th>Available</th>";
        row.insertCell(3).outerHTML = "<th>Favorite</th>";
        for(var i=0; i < data[0].artwork.length; i++) {
          row.insertCell(i+4).outerHTML = "<th>" + data[0].artwork[i].type + "</th>";
        }

        var footer = table.createTFoot();
        var row = footer.insertRow(0);
        row.insertCell(0).outerHTML = "<th>Name</th>";
        row.insertCell(1).outerHTML = "<th>Emulator</th>";
        row.insertCell(2).outerHTML = "<th>Available</th>";
        row.insertCell(3).outerHTML = "<th>Favorite</th>";
        for(var i=0; i < data[0].artwork.length; i++) {
          row.insertCell(i+4).outerHTML = "<th>" + data[0].artwork[i].type + "</th>";
        }

        var tableBody = document.createElement('TBODY');
        table.appendChild(tableBody);

        // Store only different emulators.
        var emulators = new Set();
        counters["total"]=0
        countersFav["total"]=0
        countersFav["available"]=0
        $.each(data, function(index, element) {
          emulators.add(element.emulator);

          counters["total"]=counters["total"]+1;
          if(element.favorite) {
            countersFav["total"]=countersFav["total"]+1;
          }

   				var tr = document.createElement('TR');
          tableBody.appendChild(tr);
          
          // Name column.
          var td = document.createElement('TD');
          td.appendChild(document.createTextNode(element.name));
          tr.appendChild(td);

          // Emulator column.
          var td = document.createElement('TD');
          td.appendChild(document.createTextNode(element.emulator));
          tr.appendChild(td);

          // Available column.
          if(element.available) {
            if(isNaN(counters["available"])) {
              counters["available"]=0;  
            }
            if(element.favorite) {
              countersFav["available"]=countersFav["available"]+1;
            }
            counters["available"] = counters["available"] + 1;
          }
          var td = document.createElement('TD');
          td.setAttribute("align", "center");
          var oImg = document.createElement("img");
          oImg.setAttribute('src', '/dist/img/' + element.available + '.png');
          oImg.setAttribute('height', '16px');
          oImg.setAttribute('width', '16px');
          td.appendChild(oImg);
          var textSpan = document.createElement('span')
          textSpan.innerHTML = element.available;
          textSpan.className = "hide";
          td.appendChild(textSpan);
          tr.appendChild(td);

          // Favorite column.
          var td = document.createElement('TD');
          td.setAttribute("align", "center");
          var oImg = document.createElement("img");
          oImg.setAttribute('src', '/dist/img/' + element.favorite + '.png');
          oImg.setAttribute('height', '16px');
          oImg.setAttribute('width', '16px');
          td.appendChild(oImg);
          var textSpan = document.createElement('span')
          textSpan.innerHTML = element.favorite;
          textSpan.className = "hide";
          td.appendChild(textSpan);
          tr.appendChild(td);

          // Media columns.
          var art = "";
          $.each(element.artwork, function(index, artwork) {
            if(artwork.available) {
              if(isNaN(counters[artwork.type])) {
                counters[artwork.type]=0;  
              }
              if(element.favorite) {
                if(isNaN(countersFav[artwork.type])) {
                  countersFav[artwork.type]=0;
                }
                countersFav[artwork.type]=countersFav[artwork.type]+1;
              }
              counters[artwork.type] = counters[artwork.type] + 1;
            }
            var td = document.createElement('TD');
            td.setAttribute("align", "center");
            var oImg = document.createElement("img");
  					oImg.setAttribute('src', '/dist/img/' + artwork.available + '.png');
	    			oImg.setAttribute('height', '16px');
			    	oImg.setAttribute('width', '16px');
            td.appendChild(oImg);
            var textSpan = document.createElement('span')
            textSpan.innerHTML = artwork.available;
            textSpan.className = "hide";
            td.appendChild(textSpan);
            tr.appendChild(td);
          });

        });


        systemsDiv.appendChild(table);
        var dataTable = $("#tableSystems").DataTable();

        // Filter event handler
        $( dataTable.table().container() ).on( 'keyup', 'tfoot input', function () {
              dataTable
                    .column( $(this).data('index') )
                    .search( this.value )
                    .draw();
        } );        

        // Add filters.
        $('#tableSystems tfoot th').each( function (i) {
          var title = $('#tableSystems thead th').eq( $(this).index() ).text();
          $(this).html( '<input type="text" placeholder="Search '+title+'" data-index="'+i+'" />' );
        } );

        // Totals table.
        var totalsDiv = document.getElementById("totals");
        totalsDiv.innerHTML = "";
        var tableTotals = document.createElement('TABLE');
        tableTotals.border = '1';
        tableTotals.className = 'table table-bordered table-striped';
        var headerTotals = tableTotals.createTHead();
        var rowTotals = headerTotals.insertRow(0);
        rowTotals.insertCell(0).outerHTML = "<th>Type</th>";
        var i = 1;
        for(key in counters) {
          rowTotals.insertCell(i++).outerHTML = "<th>" + key + "</th>";
        }
        var tableBodyTotals = document.createElement('TBODY');
        tableTotals.appendChild(tableBodyTotals);
        var trTotals = document.createElement('TR');
        var tdTotals = document.createElement('TD');
        tdTotals.appendChild(document.createTextNode("ALL"));
        trTotals.appendChild(tdTotals);
        for(key in counters) {
           tdTotals = document.createElement('TD');
           tdTotals.appendChild(document.createTextNode(counters[key]));
           trTotals.appendChild(tdTotals);
        }
        tableBodyTotals.appendChild(trTotals);
        
        // Total for favorites.
        trTotals = document.createElement('TR');
        var tdTotals = document.createElement('TD');
        tdTotals.appendChild(document.createTextNode("Favorites"));
        trTotals.appendChild(tdTotals);
        tableBodyTotals.appendChild(trTotals);
        for(key in countersFav) {
           tdTotals = document.createElement('TD');
           tdTotals.appendChild(document.createTextNode(countersFav[key]));
           trTotals.appendChild(tdTotals);
        }
        totalsDiv.appendChild(tableTotals);

        // Only renders games per system if there are more than one system.
        if (emulators.size > 1) {
          renderGamesPerSystem(emulators, data);
        }
      }
    });
  });

$('#send').on('click', function() {
  console.log("/retropie/send/<%=name%>");
    $.ajax({
      url : "/retropie/send/<%=name%>",
      type : "post",
      dataType : 'json',
      data : $("#form").serialize(), 
      error: function(XMLHttpRequest, textStatus, errorThrown) {
        console.log('error ' + errorThrown);
        console.log(textStatus);
      },
      success : function(data) {
        console.log('ret->'+data);
      }
  });
});

  
  </script>

</body>

</html>